.internal-contacts {
  background: url(/img/bg-contato.jpg) no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

/********************************* Quotation *****************************/
.contact {
  padding: 40px 0;
}

.contact-form {
  padding-right: 60px;
}
.contact-form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contact-form input {
  display: block;
  width: 100%;
  border: 4px solid #ffadad;
  background: none;

  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-form textarea {
  display: block;
  width: 100%;
  height: 140px;
  border: 4px solid #ffadad;
  background: none;

  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-form button {
  padding: 7px 40px;
  background: none;
}

.contact-contacts h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffadad;
  font-weight: bold;
}
.contact-contacts span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-contacts span:nth-of-type(even) {
  margin-bottom: 30px;
}
.contact-contacts ul {
  margin-top: 10px;
}
.contact-contacts ul li {
  display: inline-block;
  margin-right: 10px;
}
.contact-contacts ul li a {
  border: 3px solid #ffadad;
  display: block;
  padding: 10px;
  border-radius: 5px;
}
.contact-contacts ul li a:hover {
  border: 3px solid #000;
}

.contact-map {
  margin-bottom: 60px;
}
