/********************* Tablet - 768px ***********************/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /******************************* Quality Home ***************************/

  .quality::after {
    right: 66px;
  }
  .quality-list li {
    padding: 0 10px;
  }
  /******************************* Footer ***************************/
  .footer-social-media ul li a {
    padding: 6px;
  }
  .footer-social-media ul li a img {
    width: 26px;
    height: 26px;
  }
  /**************************** Products ****************************/
  .product-item h2 {
    top: -150px;
    margin-bottom: -56px;
  }
  .product-icon {
    padding: 41px 0;
  }
  .product-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: 122px;
  }
  .product-info ul li {
    width: 181px;
  }
  blockquote {
    left: 250px;
  }
}

/********************* Mobile ***********************/
@media only screen and (max-width: 767px) {
  .call {
    padding-top: 10px;
  }

  /******************************* Header ***************************/
  .header {
    position: relative;
    padding-bottom: 0;
  }
  .header img {
    margin: 0 auto 10px auto;
  }
  .header_menu {
    text-align: center;
  }
  .header_menu ul li {
    margin: 5px;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }
  .header_menu ul li a:hover {
    color: #fff;
    border-color: #fff;
  }
  .header_menu ul li a.menu-active {
    border-color: #fff;
  }
  /******************************* Quality Home ***************************/
  .quality::after {
    display: none;
  }
  /******************************* Intro ****************************/
  .introduction {
    margin-top: 0;
    padding-top: 45px;
    background: url(/img/bg-mobile.jpg) no-repeat center;
    background-size: cover;
  }
  /****************************** Internal Intro **************************/
  .introduction-internal {
    margin-top: 0px;
  }
  /****************************** About **************************/
  .mission-about p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }
  .mission-about ul li {
    font-size: 14px;
    line-height: 25px;
  }

  /**************************** Products ****************************/
  .product-item h2 {
    top: -100px;
    margin-bottom: -68px;
  }
  .product-icon {
    padding: 41px 0;
  }
  .product-info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
  }
  .product-info ul li {
    width: 149px;
    font-size: 14px;
    padding-top: 14px;
  }
  .form {
    padding-right: 0px;
  }
  .contact-quotation ul {
    padding-right: 0px;
  }
  /**************************** Contact ****************************/
  .contact-form {
    padding-right: 0px;
    margin-bottom: 40px;
  }
  blockquote {
    left: 100px;
  }
}
